<div class="nav-inner">
  <div class="nav-header">
    <img src="/assets/main-img.png" alt="main-img">
  </div>
  <hr>
  <div class="list-area">
    <label style="font-size: 12px;font-weight: lighter;color: #A8ACAF;margin-left: 25px">Main Menu</label>
    <ul>
      <li>
        <a routerLink="/user/process/home" >
          <div class="first-one">
            <i class="fa-solid fa-house"></i>
            <label>Home</label>
          </div>

          <span class="line"></span>
        </a>
      </li>
    </ul>
    <label style="font-size: 12px;font-weight: lighter;color: #A8ACAF;margin-left: 25px">Foods</label>
    <ul>

      <li>
        <a routerLink="/user/process/fresh-food" >
          <div class="first-one">
            <i class="fa-solid fa-carrot"></i>
            <label>Fresh Foods</label>
          </div>
          <span class="line"></span>
          </a>
      </li>
      <li>
        <a routerLink="/user/process/dry-food">
          <div class="first-one">
            <i class="fa-solid fa-cookie-bite"></i>
            <label>Dry Foods</label>
          </div>

         <span class="line"></span>
          </a>
      </li>
      <li>
        <a routerLink="/user/process/meat-locker">
          <div class="first-one">
            <i class="fa-solid fa-fish"></i>
            <label>Meat Locker</label>
          </div>

          <span class="line"></span>
          </a>
      </li>

    </ul>
    <label style="font-size: 12px;font-weight: lighter;color: #A8ACAF;margin-left: 25px">Clothes</label>
    <ul>
      <li>
        <a routerLink="/user/process/home">
          <div class="first-one">
            <i class="fa-solid fa-shirt"></i>
            <label>Clothes</label>
          </div>
          <span class="line"></span>
        </a>
      </li>

    </ul>
  </div>

</div>
