
.upper-ele{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px;

  label{
    font-size: large;
    font-weight: bold;
  }
}

.down-ele{
  .down-ele-upper{
    margin-bottom:40px ;
  }
  .table-ele{
     margin: 10px;

     tr{
       text-align: center;
     }
     td{

     }
   }
  .pagination{
      margin: 10px;
      display: flex;
      justify-content: center;
    }

}

