
.upper-ele{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px;
  @media (max-width: 576px) {

    background-color: black;
  }
  @media (min-width: 760px) and (max-width: 800px) {

    background-color: red;
  }
  label{
    font-size: large;
    font-weight: bold;
  }
}
.table-ele{
  margin: 10px;
  border: 1px solid red;
}
.pagination{
  border: 1px solid red;
  margin: 10px;
  display: flex;
  justify-content: center;
}
