
<div class="outer">
  <div class="inner">
    <div class="upper-ele">
      <label>Fresh-Foods</label>
      <button mat-flat-button style="background-color: #F2A460;color:#ffffff">+ Add</button>
    </div>
    <div class="down-ele" style="background-color: #ffffff;margin:30px;border-radius: 20px;">
      <div class="down-ele-upper" >
        <label>Fresh Food</label>
        <div class="down-ele-upper-right">

        </div>
      </div>
      <div class="table-ele" style="background-color:#ffffff;">
        <table class="table table-hover table-borderless">
          <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Food</th>
            <th scope="col">Food ID</th>
            <th scope="col">Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>ff56788547</td>
            <td>2024/03/04</td>
            <td>4</td>
            <td style="display: flex;flex-direction: row;justify-content: center">
              <div class="button-container" style="margin-right: 10px;" >
                <button type="button" class="btn btn-danger" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-trash" style="height:15px;width:15px"></i>
                </button>
              </div>

              <div class="button-container" >
                <button type="button" class="btn btn-success" style="width:30px;height: 30px;display:flex;justify-content: center;align-items: center;">
                  <i class="fa-solid fa-pen-to-square" style="height:15px;width:15px"></i>
                </button>
              </div>
            </td>

          </tr>

          </tbody>
        </table>
      </div>
      <div class="pagination">
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>

      </div>
    </div>

  </div>
</div>
